<div id="logon">
  <% form_tag session_path do -%>
      <%= label_tag :login, 'Usuário' %>
      <%= text_field_tag 'login', @login %>
      <br/>
      <%= label_tag :password, 'Senha' %>
      <%= password_field_tag 'password', nil %>

      <p><%= submit_tag 'Entrar' %></p>
  <% end -%>
</div>
<div id="signup">
  <%= link_to 'Cadastre-se', signup_path %>
</div>