<%= link_to 'Adicionar peso', weights_path %><br />
<%= link_to 'Sair', logout_path %><br />

<div id="user_data">
  meus dados<br/>
  <%= label_tag :name, 'nome: ' %>
  <%= text_field_tag :name, @user.name, :class => 'labelified', :read_only => true %>
  <br/>
  <%= label_tag :email, 'e-mail: ' %>
  <%= text_field_tag :email, @user.email, :class => 'labelified', :read_only => true %>
  <br/>
  <%= label_tag :height, 'altura (cm): ' %>
  <%= text_field_tag :height, @user.height, :class => 'labelified', :read_only => true %>
  <br/>
  <%= label_tag :meta, 'meta (kg): ' %>
  <%= text_field_tag :meta, @user.meta, :class => 'labelified', :read_only => true %>
  <br/>
  <%= label_tag :date, 'data: ' %>
  <%= text_field_tag :date, @user.date, :class => 'labelified date-pick', :read_only => true, :value => @user.date ? @user.date.strftime('%d/%m/%Y') : '' %>

</div>
<div id="user_weight">
  meu peso
  <table>
    <tr>
      <th>data</th>
      <th>peso</th>
      <th>imc</th>
    </tr>
    <% @weights.each do |weight| %>
        <tr>
          <td><%= weight.date.strftime('%d/%m/%Y') %></td>
          <td><%= weight.weight %></td>
          <td><%= '%.3f' % (weight.weight / (@user.height.to_f ** 2 / 10000)) %></td>
        </tr>
    <% end %>
  </table>
</div>
<div id="graphic">
  evolução x meta <br/>

  <div id="placeholder" style="width:600px;height:300px;">
  </div>
  <script type="text/javascript">
      <% if @first_weight && @user.date %>
      uw = [
          <% fw = @first_weight.date
 ud = @user.date
 d = -1;
 (Date.new(fw.year, fw.month, fw.day) .. Date.new(ud.year, ud.month, ud.day)).each do |day| %>
          <% value = Weight.first(:order => :date, :conditions => {:user_id => session[:user_id], :date => DateTime.new(day.year, day.month, day.day)}) %>
          <% d +=1 %>
          <%= "[#{d}, #{value.weight}]," if value %>
          <% end %>];
      meta = [];
      <%= "daily_meta = #{(@first_weight.weight.to_f - @user.meta.to_f) / 33}" %>;
      for (i = 0; i < 34; i++) {
          meta.push([i, <%= @first_weight.weight %> - (daily_meta * i)]);
      }
      $.plot($("#placeholder"), [
          {
              label: "meta (kg)",
              data: meta
          },
          {
              label: "peso (kg)",
              data: uw
          },
      ], {
          grid: {
              backgroundColor: { colors: ["#fff", "#eee"] }
          }
      });
      <% else %>
      $.plot($("#placeholder"), [], {grid: {backgroundColor: { colors: ["#fff", "#eee"] }}});
      <% end %>
  </script>
</div>