<h1>Editing weight</h1>

<% form_for(@weight) do |form| %>
    <%= form.error_messages %>

    <p>
      <%= form.label :date %><br/>
      <%= form.text_field :date, :readonly => true, :class => 'date-pick', :value => @weight.date.strftime('%d/%m/%Y') %>
    </p>
    <p>
      <%= form.label :weight %><br/>
      <%= form.text_field :weight, :maxlength => 6 %>
    </p>
    <p>
      <%= form.submit 'Update' %>
    </p>
<% end %>

<%= link_to 'Show', @weight %> |
<%= link_to 'Back', weights_path %>
