<script type="text/javascript">
    Date.firstDayOfWeek = 0;
    Date.format = 'yyyy-mm-dd';

    $(function()
    {
        $('.date-pick').datePicker({startDate:'01/11/2009'}).val(new Date().asString()).trigger('change');
    });
</script>
<h1>New weight</h1>

<% form_for(@weight) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :date %><br />
      <%= f.text_field :date, :readonly => true, :class => 'date-pick' %>
  </p>
  <p>
    <%= f.label :weight %><br />
    <%= f.text_field :weight, :maxlength => 6 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', weights_path %>