<h1>New weight</h1>

<% form_for(@weight) do |f| %>
    <%= f.error_messages %>

    <%= f.label :date %>
    <%= f.text_field :date, :readonly => true, :class => 'date-pick', :value => Date.today.strftime('%d/%m/%Y') %><br />
    <%= f.label :weight %>
    <%= f.text_field :weight, :maxlength => 6 %>
    <br/>
    <%= f.submit 'Create' %>
<% end %>

<%= link_to 'Back', weights_path %>